@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;/*隐藏滚动条*/
	position:relative;
}
#main{
	width: 640px;
	height: 960px;
	overflow: hidden;
	position: relative;
	/*left: 50%;
	margin-left: -320px;
	top:0;*/
	/*上面设置定位是为了水平居中*/
	transform-origin: top;
	-webkit-transform-origin: top;
}
#main ul{
	width: 100%;
	height: 100%;
}
#main ul li{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

}
#main ul li:nth-child(1){/*1.ul下的第一个子元素 2.这个子元素标记名是li*/
	background:#141d25;
	background-size:100% 100%;

}
#main ul li:nth-child(2){/*1.ul下的第一个子元素 2.这个子元素标记名是li*/
	background:#141d25;
	background-size:100% 100%;

}
#main ul li:nth-child(3){/*1.ul下的第一个子元素 2.这个子元素标记名是li*/
	background:#141d25;
	background-size:100% 100%;

}
#main ul li:nth-child(4){/*1.ul下的第一个子元素 2.这个子元素标记名是li*/
	background:#141d25;
	background-size:100% 100%;

}
#main ul li:nth-child(5){/*1.ul下的第一个子元素 2.这个子元素标记名是li*/
	background:#141d25;
	background-size:100% 100%;

}

.centerRotate {
	position:absolute;
	left:50%;
	top:25%;
	margin-left:-9.2rem;
	width:18.7rem;
	height:18.7rem;
	background:url("../images/centerRotate.png") no-repeat;
	background-size:100% 100%;

	-webkit-animation: rotateIn 2s linear 0s infinite both;
	animation: rotateIn 2s linear 0s infinite both;
}

.yun1 {
	position:absolute;
	left:28.28125%;
	top:42.361%;
	width:6.95rem;
	height:3.9rem;
	background:url("../images/yun1_03.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:yun 28s linear 0s infinite both;
	animation:yun 28s linear 0s infinite both;
}
@-webkit-keyframes yun {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
}

@keyframes yun {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
}
.yun2 {
	position:absolute;
	left:57%;
	top:55%;
	z-index:10;
	width:4.75rem;
	height:2.25rem;
	background:url("../images/yun2_07.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:shake 14s linear 0s infinite both;
	animation:shake 14s linear 0s infinite both;
}

.bird {
	position:absolute;
	left:52%;
	top:46%;
	width:5.55rem;
	height:3.45rem;
	background:url("../images/bird_03.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:flyBird 6s linear 0s infinite both;
	animation:flyBird 6s linear 0s infinite both;
}
@-webkit-keyframes flyBird{

	0%,100%{
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	20%,60%{
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
	}
	40%,80%{
		 -webkit-transform: translate3d(0,-20px,0);
		 transform: translate3d(0,-20px,0);
	 }
}
@keyframes flyBird {
	0%,100%{
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	20%,60%{
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
	}
	40%,80%{
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
	}
}
.mydream {
	position:absolute;
	top:79%;
	left:50%;
	margin-left:-12.4rem;
	width: 24.9rem;
	height:5.8rem;
	background:url("../images/fontdream.png") no-repeat;
	background-size:100% 100%;

}
/*
two*/
.jl {
	position:absolute;
	left:9%;
	top:5%;
	width:6.6rem;
	height:14.9rem;
	background:url("../images/two-jianli_03.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:bounceInDown 6s linear 0.5s 1 both;
	animation:bounceInDown 6s linear 0.5s 1 both;

}
.line {
	position:absolute;
	left:39%;
	top:9%;
	width:2px;
	height:12.1rem;
	background:url("../images/two-line_06.png") repeat-y;

}
.readme {
	position:absolute;
	left:44%;
	top:10%;
	width:12.95rem;
	height:11.25rem;
	background:url("../images/two-me_06.png") no-repeat center center;
	background-size:100% 100%;
	-webkit-animation:fadeIn 6s linear 1s 1 both;
	animation:fadeIn 6s linear 1s 1 both;
}
.office {
	position:absolute;
	left:0;
	top:48%;
	width:32rem;
	height:16.7rem;
	background:url("../images/two-office_10.jpg") no-repeat;
	background-size:100% 100%;
}
.heart {
	position:absolute;
	bottom:2%;
	left:50%;
	margin-left:-9rem;
	width:19rem;
	height:2.2rem;
	background:url("../images/two-heart_13.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation:fadeInLeft 2s linear 1s 1 both;
	animation:fadeInLeft 2s linear 1s 1 both;
}
/*
three*/
.me {
	position:absolute;
	top:8%;
	left:4%;
	width:8.05rem;
	height:8.1rem;
	background:url("../images/three-me_03.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: rotatenormal 4s linear 0s infinite both;
	animation: rotatenormal 4s linear 0s infinite both;
}
@-webkit-keyframes rotatenormal {

	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -360deg);
		transform: rotate3d(0, 0, 1, -360deg);

	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);

	}

}
@keyframes rotatenormal {

	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -360deg);
		transform: rotate3d(0, 0, 1, -360deg);

	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);

	}

}
.jn {
	position:absolute;
	top:9%;
	width:32rem;
	height:40rem;
}
.jn p {
	height:4.6rem;
	border-bottom:2px solid #ededee;
	margin-top:1.45rem;
}
.jn p:nth-child(1){
	width:14rem;
	margin-left:9.95rem;
}
.jn p:nth-child(1) img {
	position:absolute;
	left:37%;
	top:5%;
	width:9.7rem;
	height:2.25rem;

}
.jn p:nth-child(2){
	width:20rem;
	margin-left:2.9rem;
}
.jn p:nth-child(3){
	width:20rem;
	margin-left:4.2rem;
}
.jn p:nth-child(4){
	 width:20rem;
	 margin-left:1.8rem;
 }
.jn p:nth-child(5){
	width:16rem;
	margin-left:1.8rem;
}
.pin {
	position:absolute;
	left:70%;
	top:75%;
	width:5.9rem;
    height:10.15rem;
	background:url("../images/three-pin_07.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: bounceInRight 1s linear 0.8s 1 both;
	animation: bounceInRight 1s linear 0.8s 1 both;
}

/*fore*/
.workwrap {
	position:absolute;
	left:50%;
	top:15%;
	margin-left:-6rem;
	width:10.75rem;
	height:10.65rem;
	background:url("../images/fore-circle.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: rotatenormal 4s linear 0s infinite both;
	animation: rotatenormal 4s linear 0s infinite both;
}
.work {
	position:absolute;
	left:50%;
	top:24%;
	margin-left:-3.8rem;
	width:6.8rem;
	height:4.2rem;
	background:url("../images/fore-xm.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: zoomInUp 1s linear 0s 1 both;
	animation: zoomInUp 1s linear 0s 1 both;
}
.li4 dl {
	position:absolute;
	top:49%;
	width:11.75rem;
	color:#fff;

}
.li4 dl.first {
	left:8%;
	-webkit-animation: rotateInDownRight 1s linear 0.1s 1 both;
	animation: rotateInDownRight 1s linear 0.1s 1 both;
}
.li4 dl.last {
	left:55%;
	-webkit-animation: rotateInDownLeft 1s linear 0.1s 1 both;
	animation: rotateInDownLeft 1s linear 0.1s 1 both;
}
.li4 dl dt {
	font-size:2.5rem;
	height:3rem;
	line-height:3rem;
}
.li4 dl dd {
	font-size:1.5rem;
	height:2.5rem;
	line-height: 2.5rem;
}
/*
last*/
.contact {
	position:absolute;
	top:11%;
	left:50%;
	margin-left:-9rem;
	width:16.25rem;
	height:17.5rem;
	background:url("../images/last-girl_03.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: bounceInDown 1s linear 0.1s 1 both;
	animation: bounceInDown 1s linear 0.1s 1 both;
}
.address {
	position:absolute;
	top:60%;
	left:6%;
	width:24.1rem;
	height:15.4rem;
	background:url("../images/last-add_07.png") no-repeat;
	background-size:100% 100%;
	-webkit-animation: rollIn 1s linear 0.3s 1 both;
	animation: rollIn 1s linear 0.3s 1 both;
}
